books.dtd

<!ELEMENT bib  (book* )>
<!ELEMENT book  (title,  (author+ | editor+ ), year, publisher, price )>
<!ELEMENT year (#PCDATA)>
<!ELEMENT author  (last, first )>
<!ELEMENT editor  (last, first, affiliation )>
<!ELEMENT title  (#PCDATA )>
<!ELEMENT last  (#PCDATA )>
<!ELEMENT first  (#PCDATA )>
<!ELEMENT affiliation  (#PCDATA )>
<!ELEMENT publisher  (#PCDATA )>
<!ELEMENT price  (#PCDATA )>